* @safern @visridha @sivethe @shuaitian-git @lichoil

/.pipelines/ @safern @visridha @shuaitian-git @lichoil
/.github/workflows/ @safern @visridha @shuaitian-git @lichoil

*.csv @safern @visridha @sivethe
*.sql @safern @visridha @sivethe
Make* @safern @visridha @sivethe
/internal/ @safern @visridha @sivethe
/pg_documentdb/ @safern @visridha @sivethe
/pg_documentdb_core/ @safern @visridha @sivethe